[user]
	name = Diego Stratta
	email = strattadb@gmail.com

[core]
	editor = vim

[color]
  ui = auto

[color "branch"]
  current = "#FFEB3B" bold
  local = "#4CAF50" bold
  remote = "#00BCD4" bold

[color "diff"]
  meta = "#FFEB3B" bold
  frag = "#9C27B0" bold
  old = "#F44336" bold
  new = "#4CAF50" bold
  whitespace = "#F44336" reverse

[color "status"]
  added = "#4CAF50" bold
  changed = "#FFEB3B" bold
  untracked = "#F44336" bold

[github]
  user = strattadb

[url "https://github.com/"]
  insteadOf = gh:

[url "ssh://git@github.com/"]
  insteadOf = ghs

[web]
  browser = google-chrome

[alias]
	a = add
	br = branch
	co = checkout
	ci = commit -m
	d = diff
  l = log --oneline
  ps = push
  pl = pull
	me = merge
	s = status
	un = reset HEAD
