# Set vi mode
set editing-mode vi
set keymap vi-command

# Show mode in prompt
set show-mode-in-prompt on

# No delay when switching to normal mode in bash
set keyseq-timeout 0

# Set strings for different vi modes
set vi-ins-mode-string
set vi-cmd-mode-string \1\e[1;38;5;108m\2(normal) \1\e[0m\2
