[Desktop Entry]
Type=Application
Exec=sh -c "sleep 2; python3 ~/.scripts/background.py"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Background
Name=Background
Comment[en_US]=Set Bing's wallpaper of the day as background
Comment=Set Bing's wallpaper of the day as background
