"*":
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 13
    scrollPastEnd: true
    zoomFontWhenCtrlScrolling: false
  linter:
    showErrorPanel: false
  welcome:
    showOnStartup: false
