"*":
  core:
    disabledPackages: [
      "minimap"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 13
    scrollPastEnd: true
    zoomFontWhenCtrlScrolling: false
  linter: {}
  "linter-eslint":
    fixOnSave: true
    lintHtmlFiles: true
  welcome:
    showOnStartup: false
