"*":
  "atom-clock": {}
  "atom-material-ui":
    colors:
      abaseColor: "#7e57c2"
      accentColor: "#b0e457"
      genAccent: true
      predefinedColor: "Purple"
    fonts: {}
    tabs: {}
    treeView:
      compactList: true
    ui:
      panelContrast: true
  core:
    autoHideMenuBar: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      ".sw*"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  editor:
    fontSize: 13
    scrollPastEnd: true
    zoomFontWhenCtrlScrolling: false
  "git-plus":
    general:
      _analyticsUserId: "4593ebe6-e356-43f2-b619-51b3c842547b"
      analytics: false
      enableStatusBarIcon: false
  linter: {}
  "linter-eslint":
    fixOnSave: true
    lintHtmlFiles: true
  "one-dark-ui": {}
  "tree-view":
    hideIgnoredNames: true
  "vim-mode-plus":
    clearHighlightSearchOnResetNormalMode: true
    highlightSearch: true
    stayOnYank: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
